.container
  .row
    .profile.center.panel_design
      = panel context: :primary do
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean } ) do |f|
          %h2.text-center Sign up for free!
          .panel-body
            = f.error_notification

            .form-inputs
              = f.input :first_name, required: true, autofocus: true
              = f.input :last_name, required: true
              = f.input :username, required: true
              = f.input :birthday, required: true
              = f.input :email, required: true
              = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
              = f.input :password_confirmation, required: true
          .panel-footer
            .buttons
              = f.button :submit, "Sign up", class: "btn-primary btn-lg mbd"

            .links
              = render "devise/shared/links"
