.container
	.row
		.col-md-6.col-md-offset-3
			#masonry-container.transitions-enabled
				-@users.each do |photographer|
					.box.panel.panel-default.design.page
						= link_to image_tag(photo.image.url), photo_path(photographer)
						%hr/
						%h3= photographer.title
						%p= truncate(photographer.description, length: 100)
						%p= 'Photo taken by: ' + photographer.user.first_name + " " + photographer.user.last_name
						%p= 'Uploaded ' + time_ago_in_words(photographer.created_at) + ' ago. | ' + photographer.created_at.strftime("%b %d,%Y")
				= paginate(@photos) 
