.container
	.row
		= search_form_for @q do |f|
		.input-group
			= f.search_field :first_name_cont, class: 'form-control', placeholder: 'Search file name here'
			%span.input-group-btn
				= f.submit 'Search', class: 'btn btn-success'
		%hr/
	.row
		.col-md-6
			-@users.each do |photographer|
				- if can? :read, @photographer
					%h5= photographer.first_name + " " + photographer.last_name
					%span= 'Joined ' + time_ago_in_words(photographer.created_at) + ' ago. | ' + photographer.created_at.strftime("%b %d,%Y")
