.container
  .row
    .profile.center.panel_design
      = panel context: :primary do
        = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, boolean: :horizontal_boolean } ) do |f|
          %h2.text-center Forgot your password?
          .panel-body
            = f.error_notification

            .form-inputs
              = f.input :email, required: true, autofocus: true
          .panel-footer
            .buttons
              = f.button :submit, "Send me reset password instructions", class: "btn-primary btn-lg mbd"

            .links
              = render "devise/shared/links"