%h2.message Upload and save pictures that matter to you.
#maximage
  .first-item
    = image_tag "img1.jpg", class: "image-max"
  = image_tag "img2.jpg", class: "image-max"
  = image_tag "img3.jpg", class: "image-max"
  = image_tag "img4.jpg", class: "image-max"
  = image_tag "img5.jpg", class: "image-max"

