= link_to image_tag(photo.image.url), photo_path(photo)
	%hr/
	%h3= photo.title
	%p= truncate(photo.description, length: 100)
	%p= 'Photo taken by: ' + photo.user.first_name + " " + photo.user.last_name
	%p= 'Uploaded ' + time_ago_in_words(photo.created_at) + ' ago. | ' + photo.created_at.strftime("%b %d,%Y")