.container
	.row
		.col-md-8.col-md-offset-2
			#masonry-container.transitions-enabled
				.box.panel.panel-default
					.panel-header
						= image_tag(@photo.image.url)
					.panel-body
						%h2= @photo.title
						%h4= @photo.description
					.panel-footer
						%h4
						Photo taken by
						= @photo.user.email
						- if user_signed_in?
							.btn-group.pull-right
								= link_to like_photo_path(@photo), method: :put, class: 'btn btn-default' do
									%span.glyphicon.glyphicon-thumbs-up
									= @photo.get_upvotes.size
								- if can? :update, @photo
									.btn-group.pull-right	
										= link_to 'Edit Photo', edit_photo_path(@photo), class: 'btn btn-primary'
										= link_to 'Delete Photo', photo_path(@photo), method: :delete, class: 'btn btn-primary mbd mbd-border'

