%li.dropdown
  -if user_signed_in?
    %a.dropdown-toggle{ "href" => "#", "data-toggle"=>"dropdown", "role" => "button", "aria-expanded"=>"false"}
      = current_user.first_name + " " + current_user.last_name 
      <span class="caret"></span>
  - else
    %a.dropdown-toggle{ "href" => "#", "data-toggle"=>"dropdown", "role" => "button", "aria-expanded"=>"false"}
      Account <span class="caret"></span>
  %ul.dropdown-menu
    - if user_signed_in?
      = link_to edit_user_registration_path do
        %span.fa.fa-user-o
        Profile
      = link_to destroy_user_session_path, :method=>:delete do
        %span.fa.fa-sign-out
        Sign out
    - else
      / CONNECT
      = link_to new_user_session_path do
        %span.fa.fa-sign-in
        Sign in
      = link_to new_user_registration_path do
        %span.fa.fa-sign-in
        Register
