= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.fa.fa-camera
      Pictogramm
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to users_path do
        %span.fa.fa-search
        Look for Photographers
      = link_to new_photo_path do
        %span.fa.fa-cloud-upload
        Upload Photo
      - if user_signed_in?  
        = link_to myphotos_path do
          %span.fa.fa-picture-o
          My Photos
      = render partial: "application/account_dropdown"
