= navbar position: :static do
  = vertical do
    = link_to root_path do
      %span.glyphicon.glyphicon-cloud
      Pictogram
  = horizontal do
    = nav class: 'navbar-right' do
      = link_to 'Contact', ""
      = link_to 'About', ""
      = link_to 'Upload Photo', new_photo_path
      = render partial: "application/account_dropdown"
